@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffeef6;
  color: rgb(var(--foreground-rgb));
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*Boton global*/

.boton-global {
  background-color: #fbb6b6;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.boton-global:hover {
  background-color: #ed8f8f;
}

/*Input global*/

.input-global {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #d1d5db;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
